/* @override 
	http://sammyjayuk.github.io/base.css */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

html, body {
	margin: 0px;
	font: 17px Lato, "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
	font-weight: 300;
	background-color: hsl(0, 0%, 90%);
	color: hsl(0, 0%, 8%);
}

a:link {
	color: hsl(220, 100%, 63%);
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

a:link:hover, a:visited:hover {
	color: hsl(220, 80%, 50%);
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-property: all;
	/*transition-timing-function: ease-in;*/
	text-decoration: underline;
}

a.hovertip + .hovertip-tip {
	display: inline;
	position: absolute;
	background-color: hsla(0, 0%, 0%, 0);
	opacity: 0;
	/*top: 31px;*/
	z-index: -1;
	text-align: center;
}

a.hovertip + .hovertip-tip * {
	display: block;
	margin-top: 8px;
	/*text-align: center;*/
}

a.hovertip:hover + .hovertip-tip {
	display: inline-block;
	position: absolute;
	font-weight: normal;
	/*background-color: hsl(0, 0%, 8%);*/
	/*background-color: hsla(220, 100%, 63%, 1);*/
	color: hsl(0, 0%, 97%);
	/*top: 31px;*/
	opacity: 1;
	z-index: 0;
	transition-delay: 0.4s;
	transition-duration: 0.35s;
	transition-property: opacity;
}

a.hovertip:hover + .hovertip-tip span {
	position: relative;
	top: -6px;
	/*left: -4px;*/
	padding: 8px;
	background-color: hsla(220, 100%, 63%, 1);
}

.weight-light {
	font-weight: 300;
}


div#main-tallbg {
	height: 100%;
	width: 100%;
	z-index: -1;
	position: fixed;
}

div#main-tallbg div {
	height: 100%;
	width: 960px;
	background-color: hsl(0, 0%, 97%);
	margin: auto;
}


div#header {
	background: -webkit-linear-gradient(bottom, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 98%) 100%) hsl(0, 0%, 97%);
	background: -moz-linear-gradient(bottom, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 98%) 100%) hsl(0, 0%, 97%);
	background: -ms-linear-gradient(bottom, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 98%) 100%) hsl(0, 0%, 97%);
	background: linear-gradient(to top, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 98%) 100%) hsl(0, 0%, 97%);
	color: hsl(0, 0%, 8%);
	padding: 0px 8px;
	font-size: 125%;
	height: 33px;
}

div#header div#header-content {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	padding-bottom: 0px;
	/*border-bottom: 2px solid hsl(0, 0%, 8%);*/
}

div#header div#header-content > * {
	display: inline-block;
}

div#header a {
	border-bottom: 2px solid hsla(0, 0%, 0%, 0);
	padding: 4px 0px 2px;
}

div#header a.header-current {
	border-bottom: 2px solid hsla(0, 0%, 8%, 1);
	padding: 4px 0px 2px;
}

div#header a:link, div#header a:visited {
	color: hsl(0, 0%, 8%);
	text-decoration: none;
}

div#header a:hover {
	color: hsl(220, 100%, 63%);
	border-bottom: 2px solid hsla(220, 100%, 63%, 1);
	/*padding: 4px 0px 1px;*/
	/*border-bottom-color: hsla(220, 100%, 63%, 1);*/
	transition-delay: 0s;
	transition-duration: 0.35s;
	transition-property: color, border-color;
	/*transition-timing-function: ease-in;*/
}

div#header ul#header-links {
	list-style: none;
	margin: 0;
	padding: 0;
	/*font-size: 82%;*/
}

div#header ul#header-links li {
	display: inline-block;
}

div#header ul#header-links li span.header-link-category {
	display: inline-block;
	padding-left: 48px;
	padding-right: 4px;
	font-size: 82%;
}

div#header ul#header-links li a {
	font-size: 96%;
	margin-right: 6px;
}


div#main {
	width: 928px;
	margin: auto;
	background-color: hsl(0, 0%, 97%);
	color: hsl(0, 0%, 8%);
	padding: 1px 16px;
	font-weight: 300;
}

div#main strong {
	font-weight: normal;
}

