/* @override 
	http://sammyjayuk.github.io/base.css */

@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic);

html, body {
	margin: 0px;
	font: 17px Lato, "Helvetica Neue", Helvetica, Geneva, Arial, sans-serif;
	background-color: hsl(0, 0%, 90%);
	color: white;
}

a:link {
	color: hsl(220, 100%, 63%);
	text-decoration: none;
	font-weight: normal;
	font-style: normal;
}

a:link:hover {
	color: hsl(220, 80%, 50%);
	transition-delay: 0s;
	transition-duration: 0.15s;
	transition-property: all;
	/*transition-timing-function: ease-in;*/
	text-decoration: underline;
}

.weight-light {
	font-weight: 300;
}


div#main-tallbg {
	height: 100%;
	width: 100%;
	z-index: -1;
	position: fixed;
}

div#main-tallbg div {
	height: 100%;
	width: 960px;
	background-color: hsl(0, 0%, 97%);
	margin: auto;
}


div#header {
	background: -webkit-linear-gradient(bottom, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 98%) 100%) hsl(0, 0%, 97%);
	background: -moz-linear-gradient(bottom, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 98%) 100%) hsl(0, 0%, 97%);
	background: -ms-linear-gradient(bottom, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 98%) 100%) hsl(0, 0%, 97%);
	background: linear-gradient(to top, hsl(0, 0%, 90%) 0%, hsl(0, 0%, 98%) 100%) hsl(0, 0%, 97%);
	color: black;
	padding: 0px 8px;
	font-size: 125%;
}

div#header > * {
	padding: 4px 0px;
	display: inline-block;
}

div#header a:link {
	color: black;
	text-decoration: none;
}

div#header a:visited {
	color: black;
	text-decoration: none;
}

div#header a:hover {
	color: hsl(220, 100%, 63%);
	transition-delay: 0s;
	transition-duration: 0.25s;
	transition-property: color;
	/*transition-timing-function: ease-in;*/
}


div#main {
	width: 928px;
	margin: auto;
	background-color: hsl(0, 0%, 97%);
	color: hsl(0, 0%, 8%);
	padding: 1px 16px;
	font-weight: 300;
}

